/**
* Name: University - Education
* Version: 1.0
* Author: Themesflat
* Author URI: http://www.themesflat.com
*/

@import url("font-awesome.css");
@import url("owl.carousel.css");
@import url("shortcodes.css");
@import url("revolution-slider.css");
@import url("jquery.fancybox.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i|Bitter:400,400i,700|Open+Sans:400,400i,600,600i,700,700i,800,800i");
/**
  * Reset
  * Repeatable Patterns
  * Top 
  * Header
  * Mobile navigation
  * Page title
  * Breadcrumbs
  * Blog
  * Sidebar
  * Blog-single 
  * Footer
  * Bottom
  * Switcher
  * Revolution Slider
  * Parallax
*/

/* Reset
-------------------------------------------------------------- */
	html {
		overflow-y: scroll;
		-webkit-text-size-adjust: 100%;
		   -ms-text-size-adjust: 100%;
	}

	body {
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%;
		   -ms-text-size-adjust: 100%;
	}

	a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
	dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video  { 
		font-family: inherit; 
		font-size: 100%; 
		font-weight: inherit; 
		font-style: inherit; 
		vertical-align: baseline; 
		margin: 0; 
		padding: 0; 
		border: 0; 
		outline: 0;
		background: transparent;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
		display: block;
	}

	blockquote, q { 
		-webkit-hyphens: none;
		  -moz-hyphens: none;
		   -ms-hyphens: none;
		       hyphens: none;
		        quotes: none;
	}

	figure {
		margin: 0;
	}

	:focus {
		outline: 0;
	}

	table { 
		border-collapse: collapse; 
		border-spacing: 0;
	}
	
	.table > thead > tr > th {
		vertical-align: middle;
   	}

	img {
		border: 0;
		-ms-interpolation-mode: bicubic;
		vertical-align: middle;
	}

	legend {
		white-space: normal;
	}

	button,
	input,
	select,
	textarea {
		font-size: 100%;
		margin: 0;
		max-width: 100%;
		vertical-align: baseline;
		-webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		       box-sizing: border-box;
	}

	button,
	input {
		line-height: normal;
	}

	input,
	textarea {
		background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		line-height: 1;
		cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
		-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
		border: none;
	}

	input[type="checkbox"],
	input[type="radio"] {
		padding: 0; /* Addresses excess padding in IE8/9 */
	}

	input[type="search"] {
		-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	}

	input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
		-webkit-appearance: none;
	}

	button::-moz-focus-inner,
	input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
		border: 0;
		padding: 0;
	}

	*,
	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
	font: 13px/24px "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	background-color: #fff;		
	color: #666;
	/* background: white url("http://localhost/assets/uploads/pattern.jpg") repeat fixed center;  */
}

a {		
	color: #3e3e3e;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
	color: #179bd7;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

ul, ol {
	padding: 0;
	margin-left: 20px;
}

img {
	max-width: 100%;
	height: auto;		
}

.img-left {
	margin: -10px 50px 0 0 !important;
	float: left;
}

.img-right {
	margin: 0 0 0 50px !important;
	float: right;
}

b, strong {
	font-weight: 900;
}

.entry-page p {
	margin-bottom: 25px;
}

button {
	border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-family: "Roboto", sans-serif;
	font-size: 13px;	
	text-transform: uppercase;		
    color: #fff;
  	background-image: none;
  	height: 35px;
  	background-color: #303030;
  	line-height: 35px;
    padding: 12px 20px;
  	cursor: pointer;
  	white-space: nowrap;
  	border: none;
   	display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {	
	border: 1px solid #eaeaea;
    background-color: #eaeaea;
  	height: 33px;
    padding: 6px 12px; 	
  	font-size: 13px;
  	line-height: 24px;
  	color: #3e3e3e;
  	max-width: 100%;
  	margin-bottom: 20px;
  	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border-color: #e0e0e0;
    background: #e0e0e0;
    color: #555;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

textarea {
	width: 100%;
	height: 275px;
	padding: 6px 12px;
}

input[type="checkbox"] {
	display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {	
	font-size: 12px;
  	line-height: 19px;	
	color: #b1b1b1;
	opacity: 1;
}

input:-ms-input-placeholder {
	font-size: 12px;
  	line-height: 19px;
	color: #b1b1b1;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	font-size: 12px;
  	line-height: 19px;
	color: #b1b1b1;
	opacity: 1;
}

@-webkit-keyframes pop-scale { 0% { -webkit-transform: scale(0.7) } 100% { -webkit-transform: scale(1) } }
@-moz-keyframes pop-scale { 0% { -moz-transform: scale(0.7) } 100% { -moz-transform: scale(1) } }
@keyframes pop-scale { 0% { transform: scale(0.7) } 100% { transform: scale(1) } }

/* bootstrap resetting elements */
.btn {
	background-image: none;
}

textarea, 
input[type="text"],
input[type="submit"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
	-webkit-appearance: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
	color: #555;
}

/* Top
-------------------------------------------------------------- */
.header-inner-pages .top {
	background-color: #133054;
}

.navbar.menu-top {
	float: left;
	position: relative;
}

.navbar.menu-top,
.flat-socials {
	display: block;
	float: left;
}

.navbar.menu-top > ul > li {
	padding: 0;
	height: 40px;
}

.navbar.menu-top > ul > li > a {
	line-height: 40px;
	padding: 0 15px;
	color: rgba(255,255,255,.75);
	border-left: solid 1px rgba(255,255,255,.15);
}

.navbar.menu-top > ul > li:after,
.navbar.menu-top > ul > li > a:before {
	content: none;
}

.navbar.menu-top > ul > li:last-child > a {
	border-right: solid 1px rgba(255,255,255,.15);
}

.navbar.menu-top > ul > li > a:hover {
    color: #fff;
    background-color: transparent;
}

.topnav-sidebar {
    line-height: 40px;
}

.topnav-sidebar a {
    display: inline-block;
    padding: 0 15px;
    border-left: solid 1px rgba(255,255,255,.15);
}

.navbar-right.topnav-sidebar > ul > li {
    display: block;
    float: left;
} 

.search-toggle {
    display: block;
    border-right: solid 1px rgba(255,255,255,.15);
    border-left: solid 1px rgba(255,255,255,.15);
    padding: 11px 15px;
    line-height: 18px;
}

.search-toggle i {
	overflow: hidden;
}

.topnav-sidebar > [class*=col-md-] {
    padding: 0;
}

.navbar-right .textwidget a,
.navbar-right i {
    color: rgba(255,255,255,.75);
}

.navbar-right.topnav-sidebar > ul > li:hover i,
.search-toggle:hover i {
	color: #fff;
}

.navbar.menu-top {
	min-height: 40px;
	margin-bottom: 0;
	-webkit-transition: all 0.3s linear;
	   -moz-transition: all 0.3s linear;
	    -ms-transition: all 0.3s linear;
	     -o-transition: all 0.3s linear;
	        transition: all 0.3s linear;
}

.navbar.menu-top ul {
	list-style: none;
	margin: 0;
}

.navbar.menu-top > ul > li {
	float: left;
	position: relative;
}

.navbar.menu-top > ul > li > a {
	position: relative;
	display: block;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	outline: none;
}

.navbar.menu-top > ul > li:last-child {
	padding-right: 0;
}

.navbar.menu-top ul li ul {
	width: 200px;
	position: absolute;
	top: 100%;
	left: 0; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
      opacity: 0;
   visibility: hidden;
   z-index: 9999;
   display: block;
   -webkit-transform: translate(0px, 10px);
	  -moz-transform: translate(0px, -10px);
	   -ms-transform: translate(0px, -10px);
		-o-transform: translate(0px, -10px);
		   transform: translate(0px, -10px);
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

.navbar.menu-top ul li ul:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
}

.navbar.menu-top ul li ul li ul {
	left: 100%;
	top: 1px;
}

.navbar.menu-top li:hover > ul {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	       filter: alpha(opacity=100);
	      opacity: 1;
	   visibility: visible;
	   -webkit-transform: translate(0, 0);
		   -moz-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		     -o-transform: translate(0, 0);
		        transform: translate(0, 0); 
}

.navbar.menu-top .submenu {
	z-index: 99999;
}

.navbar.menu-top .submenu.submenu-right {
    right: 0;
    left: auto;
}

.navbar.menu-top .submenu .menu-column {
	overflow: hidden;
	list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    vertical-align: top;
}

.navbar.menu-top ul li.has-mega-menu:hover > .mega-menu {
    top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
}

.navbar.menu-top .submenu .menu-column ul {
	list-style:none;
	margin:0;
	padding:0;
}

.navbar.menu-top .submenu li {
	background-color: #000;
	opacity: 0.9;
}

.navbar.menu-top .submenu li:hover {
	background-color: #179bd7;
	opacity: 1;
}

.navbar.menu-top .submenu li a {
    color: #b0b0b0;
	display: block;
	padding: 8px 20px;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.navbar.menu-top .submenu li:hover > a {
	color: #fff;
}

.navbar.menu-top .menu > li > a .menu-description {
    display: block;
    font-style: italic;
    color: rgba(255,255,255,.5);
    font-size: 13px;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.navbar.menu-top .menu > li > a:hover .menu-description {
    color: #fff;
}

/* Header
-------------------------------------------------------------- */
.header {
	background-color: #e25e0c;
}

.header .logo {
	line-height: 100px;
	float: left;
}

.header .logo a {
	display: block;
	height: 100%;
}

/* navigation */
#mainnav {
	float: right;
	-webkit-transition: all 0.3s linear;
	   -moz-transition: all 0.3s linear;
	    -ms-transition: all 0.3s linear;
	     -o-transition: all 0.3s linear;
	        transition: all 0.3s linear;
}

#mainnav ul {
	list-style: none;
	margin: 0;
}

#mainnav > ul > li {
	float: left;
	height: 100px;
}

#mainnav > ul > li > a {
	position: relative;
	display: block;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	padding: 30px 40px 0 15px;
	outline: none;
}

#mainnav > ul > li > a:before {
    content:' ';
	border-left: solid 1px rgba(255,255,255,.25);
	position:absolute;
	top: 30px;
	bottom: 30px;
	left: 0px;
	height: 60%;
}

#mainnav > ul > li:last-child {
	padding-right: 0;
}

#mainnav ul li {
	position: relative;
}

#mainnav > ul > li:after {
	position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background: #46a5e5;
    transition: width .3s;
}

#mainnav > ul > li:hover:after {
    width: 100%;
    transition: width .3s;
}

#mainnav ul li ul {
	width: 200px;
	position: absolute;
	top: 100%;
	left: 0; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
       	filter: alpha(opacity=0);
  	   opacity: 0;
   	visibility: hidden;
       z-index: 9999;
     -webkit-transform: translate(0px, 10px);
	    -moz-transform: translate(0px, -10px);
	     -ms-transform: translate(0px, -10px);
		  -o-transform: translate(0px, -10px);
		     transform: translate(0px, -10px);
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;

}

#mainnav ul li:hover > ul.submenu {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	       filter: alpha(opacity=100);
	      opacity: 1;
	   visibility: visible;
	   -webkit-transform: translate(0, 0);
		   -moz-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		     -o-transform: translate(0, 0);
		        transform: translate(0, 0); 
}

#mainnav ul li ul:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
}

#mainnav ul li ul li ul {
	left: 100%;
	top: 1px;
}

#mainnav li:hover > ul {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

#mainnav .submenu {
	z-index: 99999;
}

#mainnav .submenu.submenu-right {
    right: 0;
    left: auto;
}

#mainnav .submenu .menu-column {
	overflow: hidden;
	list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    vertical-align: top;
}

#mainnav ul li.has-mega-menu:hover > .mega-menu {
    top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
}

#mainnav .submenu .menu-column ul {
	list-style:none;
	margin:0;
	padding:0;
}

#mainnav .submenu li {
	background-color: #000;
	opacity: 0.9;
}

#mainnav .submenu li:hover {
	background-color: #179bd7;
	opacity: 1;
}

#mainnav .submenu li a {
    color: #b0b0b0;
    padding: 8px 20px;
	display: block;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

#mainnav .submenu li:hover > a {
	color: #fff;
}

#mainnav .menu > li > a .menu-description {
    display: block;
    font-style: italic;
    color: rgba(255,255,255,.5);
    font-size: 13px;
    transition: all .2s;
    -webkit-transition: all .2s;
}

#mainnav .menu > li > a:hover .menu-description {
    color: #fff;
}

/* Index-v8 */
.header.v1 {
	background-color: #231f20;
}

.header.v1 .logo {
	float: left;
	line-height: 80px;
} 

#mainnav.v1 > ul > li {
	height: 80px;
}

#mainnav.v1 > ul > li > a {
	line-height: 80px;
    display: block;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 0 30px;
    outline: none;
    font-weight: 700;
    border-right: 1px solid #444;
}

#mainnav.v1 > ul > li > a:hover {
	color: #179bd7;
}

#mainnav.v1 > ul > li:last-child > a {
	border: none; 
}

#mainnav.v1 > ul > li > a i {
	margin-right: 5px;
	font-size: 16px;
}

#mainnav.v1 > ul > li > a:before {
	content: none;
}

#mainnav.v1 > ul > li:after {
	background: transparent;
}

/* Index-v9 */
.main-menu {
	background-color: #231f20;
	height: 60px;
}

#header.v2 {
	background-color: #fff;
}

#header.v2 .logo {
	float: none;
}

#header.v2 .logo a {
	display: inline-block;
}

#header.v2 .callout-text {
	padding: 15px 0 0;
	overflow: hidden;
	height: 100px;
}

#header.v2 .callout-text > p:first-child {
    border: none;
    padding: 0;
    margin: 0;
}

#header.v2 .callout-text > p {
    display: inline-block;
    line-height: 1.4;
    border-left: solid 1px rgba(33,33,33,.1);
    padding-left: 30px;
    margin-left: 30px;
}

.callout-text > p > strong {
    font-size: 23px;
    display: block;
    font-weight: 700;
}

.main-menu #mainnav.v2 {
	float: none;
	height: 60px;
	text-align: center;
}

#mainnav.v2 > ul {
	display: inline-block;
}

#mainnav.v2 > ul > li > a {
	line-height: 60px;
}

#mainnav.v2 > ul > li {
	height: 60px;
}

#mainnav.v2 > ul > li > ul > li {
	text-align: left;
}

.navbar-right {
    float: right;
    margin-right: -15px;
}

/* Header Fix */
.header.downscrolled {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 9999; 
    background: #133054;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    visibility: hidden;   
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
	-webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.header.downscrolled .logo,
.header.downscrolled .show-search {
	line-height: 80px;
}

.header.upscrolled {	
       opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
        filter: alpha(opacity=100);
    visibility: visible;  
    background: #e25e0c; 
    top: 0;
    box-shadow: 0px 0px 7px -1px rgba(0,0,0,.4);
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
	-webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.header.v2.downscrolled {
	display: none;
}

.header.upscrolled #mainnav > ul > li {
	height: 80px;
}

.header.upscrolled #mainnav > ul > li > a {
    padding: 15px 40px 0 15px;
}

.header.upscrolled #mainnav > ul > li > a:before {
    top: 20px;
}

.header.upscrolled.v1 #mainnav > ul > li > a {
	padding: 0 30px;
}

.header.upscrolled.v3 #mainnav > ul > li > a {
	padding: 10px 30px;
}

/* Mobile navigation
-------------------------------------------------------------- */
#mainnav-mobi {
	display: block;
	margin: 0 auto;
	width: 100%;
	position: absolute;
	background-color: #1c1c1c;
	z-index: 1000;
}

#mainnav-mobi ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

#mainnav-mobi ul li {
	margin:0;
	position: relative;
	text-align: left;
	border-top: 1px solid #252525;
	cursor: pointer;
}

#mainnav-mobi ul > li > a {
	text-decoration: none;
	height: 55px;
	line-height: 55px;
	padding: 0 50px;
	color: #fff;
}

#mainnav-mobi ul.sub-menu {
	top: 100%;
	left: 0;
	z-index: 2000;
	position: relative;
	background-color: #161625;
}

#mainnav-mobi > ul > li > ul > li,
#mainnav-mobi > ul > li > ul > li > ul > li {
	position: relative;
	border-top: 1px solid #252525;
	background-color: #222;
}

#mainnav-mobi > ul > li > ul > li >  a {
	padding-left: 70px !important;
}

#mainnav-mobi > ul > li > ul > li > ul > li a {
	padding-left: 90px !important;
}

#mainnav-mobi ul.sub-menu > li > a {
	display: block;
	text-decoration: none;
	padding: 0 60px;
	border-top-color: rgba(255,255,255,0.1);
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
	     -o-transition: all 0.2s ease-out;
	        transition: all 0.2s ease-out;
}

#mainnav-mobi > ul > li > ul > li:first-child a {
	border-top: none;
}

#mainnav-mobi ul.sub-menu > li > a:hover,
#mainnav-mobi > ul > li > ul > li.active > a {
	color: #fff;
}
.header.is-sticky .btn-menu {
	margin: 20px 40px;
}

/* Button menu mobile */
.btn-menu {
	display: none;
	position: relative;
	background: transparent;
	cursor: pointer;
	margin: 22px 0;
	width: 30px;
	height: 16px;
	float: left;
	margin-right: 15px;
	-webkit-transition: all ease .238s;
	-moz-transition: all ease .238s;
	transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after, 
.btn-menu span {
	background-color: #fff;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after {
	content: '';
	position: absolute;
	top: 0;
	height: 2px;
	width: 24px;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}

.btn-menu span {
	position: absolute;
	width: 12px;
	height: 2px;
	left: 0;
	top: 50%;
	overflow: hidden;
	text-indent: 200%;
}

.btn-menu:before {
	-webkit-transform: translate3d(0, -7px, 0);
	        transform: translate3d(0, -7px, 0);
}

.btn-menu:after {
	width: 17px;
	-webkit-transform: translate3d(0, 7px, 0);
            transform: translate3d(0, 7px, 0);
}

.btn-menu.active:after {
	width: 24px;
}

.btn-menu.active span {
	opacity: 0;
}

.btn-menu.active:before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu.active:after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
}

.btn-submenu {
   position: absolute;
   right: 20px;
   top: 0;
   font: 20px/50px 'FontAwesome';
   text-align: center;
   cursor: pointer;
   width: 70px;
   height: 44px;
}

.btn-submenu:before {
   content: "\f107";
   color: #fff;
}

.btn-submenu.active:before {
   content: "\f106"
}

.btn-menu {
   display: none 
}

/* Page Title
-------------------------------------------------------------- */
.page-title {
	position: relative;
    background: #eaeaea;
    padding: 33px;
}

.page-title .page-title-heading h2 {
	font-family: "Bitter", sans-serif;
	font-size: 28px;
    color: #343434;
}

.page-title .page-title-heading h2,
.breadcrumbs {
	display: inline-block;
	float: left;
}

/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
	float: right;
}

.breadcrumbs ul li,
.breadcrumbs ul li a {
    font-size: 10px;
    text-transform: uppercase;
}

.breadcrumbs ul li {
    display: inline-block;
}

.breadcrumbs ul li a:hover {
	color: #46a5e5;
}

/* Blog
-------------------------------------------------------------- */
.main-content {
	padding: 40px 0;
}

.blog-item {
	margin-bottom:20px;
}

.blog-thumbnail {
	position:relative;
}

.content-pad {
    padding-bottom: 15px;
    position: relative;
}

.thumbnail-hoverlay {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0;
	transition:all .4s;
}

.thumbnail-hoverlay-cross {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0;
	-webkit-transform: scale(3) rotate(90deg);
	transform: scale(3) rotate(90deg);
	transition:all .45s;
}

.thumbnail-hoverlay-cross:before,
.thumbnail-hoverlay-cross:after {
	content:'';
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	background:#fff;
	width:1px;
	height:43px;
	margin-top:-21px;
}

.thumbnail-hoverlay-cross:after {
	width:43px;
	height:1px;
	margin-top:0px;
	margin-left:-21px;
}

.item-thumbnail {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	height: auto;
}

.item-thumbnail img {
    width: 100%;
    height: auto;
    transition: all .4s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.item-thumbnail:hover img {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    -ms-filter: brightness(80%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.item-thumbnail:hover .thumbnail-hoverlay {
	opacity:.5;
	background-color: #179bd7;
}

.item-thumbnail:hover .thumbnail-hoverlay-cross {
	opacity:1;
	-webkit-transform: scale(1) rotate(0);
	transform: scale(1) rotate(0);
}

.thumbnail-overflow {
	position:absolute;
	top:0;
	left:-68px;
	width:68px;
	margin-right: -15px;
}

.thumbnail-overflow .date-block {
	position: absolute;
    top: 15px;
    right: 15px;
    padding: 15px 10px;
    font-size: 14px;
    line-height: 18px;
    min-width: 66px;
	position:static;
	color:#fff;
	background-color: #253b80;
}

.thumbnail-overflow .comment-block {
	width:68px;
	height:68px;
	line-height:68px;
	text-align:center;
	background-color: #179bd7;
}

.thumbnail-overflow .comment-block a {
	color:#fff;
}

.thumbnail-overflow .comment-block .fa {
	font-size:14px;
	margin-right:3px;
}

.date-block .day {
	font-size:20px;
	text-align:center;
}
.date-block .month {
	text-transform:uppercase;
	text-align:center;
}

.item-thumbnail-video {
	position:relative;
	height:0;
	padding-top:63%;
}

.item-thumbnail-video-inner {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.item-thumbnail-video-inner * {
	max-width:100%;
	max-height:100%;
	height:100%;
}

.blog-item-excerpt {
	margin-top:25px;
	margin-bottom:22px;
}

.blog-item-meta {
	text-transform:uppercase;
	margin-bottom:27px;
	padding-top:0;
}

.dot {
	font-size:18px;
	line-height:1px;
	margin:0 5px;
}

.sep {
	font-size:13px;
	line-height:1px;
	margin:0 5px;
	color: #eaeaea;
}

.item-meta {
    font-size: 10px;
}

.item-content {
    border-top: solid 1px #e25e0c;
    padding-top: 17px;
}

.post-item .content-pad .title {
	font-size: 21px;
}

.post-item .content-pad .button {
    border-color: #eaeaea;
}

.post-item .content-pad .button:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

.post-item .content-pad .button i {
	margin-left: 4px;
}

button,
input[type=button],
input[type=submit],
.button,
.un-button-1,
.un-button-2,
.un-button-1-lg,
.un-button-2-lg {
    padding: 9px 20px;
    transition: all .2s;
    border-radius: 3px;
    border: solid 2px #666;
}

/*page navi*/
.wp-pagenavi {
	text-align:center;
	padding: 5px 0;
}

.wp-pagenavi a, .wp-pagenavi span {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	padding: 8px 14px !important;
	margin:5px !important;
	color: #666;
	background-color: rgba(255,255,255,0);
	transition: all .2s;
	border-radius:3px;
	border:solid 2px #eaeaea !important;
	line-height:1.5
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	background-color: #666;
	border:solid 2px #666 !important;
	color: #fff;
}

.wp-pagenavi .nextpostslink {
	padding-top: 7px !important;
	padding-bottom:9px !important
}

/*post carousel*/
.un-post-carousel > .section-inner {
	padding-top: 0;
}

.post-carousel-wrap {
	margin-left:-15px;
	margin-right:-15px;
}

.post-carousel-item {
	width:25%;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:20px;
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
}

.owl-item .post-carousel-item {
	width:100%;
}

.post-carousel-item .grid-item-inner{
	border-bottom:solid 1px rgba(255,255,255,.1);
	box-shadow: 0 25px 35px -32px rgba(0,0,0,.75), 0 36px 65px -60px rgba(0,0,0,.75);
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
}
.carousel-has-control .owl-buttons {
	position:absolute;
	top:35%;
	left:-10px;
	right:-10px;
	height:0;
}

.carousel-has-control.owl-theme .owl-controls .owl-prev,
.carousel-has-control.owl-theme .owl-controls .owl-next {
	float:left;
	background:rgba(0,0,0,.3);
	width:50px;
	height:50px;
	padding:0 4px 0 0;
	margin:0;
	line-height:49px;
	border-radius:0px;
	font-size:32px;
	opacity:0;
	transform:translateX(-30px);
	-webkit-transform:translateX(-30px);
	transition:all .3s ease;
}

.carousel-has-control.owl-theme .owl-controls .owl-next {
	float:right;
	padding:0 0 0 4px;
	transform:translateX(30px);
	-webkit-transform:translateX(30px);
}

.carousel-has-control.owl-theme:hover .owl-controls .owl-next,
.carousel-has-control.owl-theme:hover .owl-controls .owl-prev {
	transform:translateX(0);
	-webkit-transform:translateX(0);
	opacity:1;
}

.carousel-has-control.owl-theme .owl-controls .owl-prev:hover,
.carousel-has-control.owl-theme .owl-controls .owl-next:hover {
	background:rgba(0,0,0,.75);
}  

.un-post-carousel .owl-theme .owl-controls {
	margin-top: 0px;
}

.un-post-carousel .owl-theme .owl-controls .owl-page span {
	width: 12px;
	height: 12px;
	margin: 5px 10px;
	opacity: .3;
	border: 2px solid #000;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
}

.un-post-carousel .owl-theme .owl-controls .owl-page.active span,
.un-post-carousel .owl-theme .owl-controls.clickable .owl-page:hover span {
	opacity: .75;
	background: #fff;
}

/*event listing classic*/
.event-listing-classic .post-item {
	margin-bottom:20px;
}

.event-listing-classic .date-block {
	top:10px;
	right:10px;
	z-index:2;
	transition:all .2s;
}

.event-classic-item .item-thumbnail:hover .date-block {
	background:#fff;
	color:#343434;
}

.event-classic-item .item-thumbnail a:before {
	content:' ';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:.5;
	z-index:1;
	transition:all .2s;
}

.event-classic-item .item-thumbnail:hover a:before {
	background:#46a5e5;
}

.event-classic-item .item-title {
	margin-bottom:5px;
}

.event-classic-item .price {
	margin-bottom: 15px;
}

.event-time, .event-address {
	margin-bottom:2px;
}

.event-classic-item .item-meta {
	margin-top:15px;
}

/*testimonials*/
.testimonials {
	background:#eaeaea;
}

.testimonial-item {
	overflow:hidden;
}

.testimonial-item:before {
	position:absolute;
	z-index:-1;
	top: 0px;
	right: 9%;
	content: "\f10e";
	color:#fff;
	font-size:50px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.testimonial-item p {
	font-size:20px;
	max-width: 82%;
	margin: 0 auto 7px;
}

.testimonial-item .media {
	display:inline-block;
	text-align:left;
	max-width: 82%;
}

.testimonial-item .media-body {
	line-height:10px;
	display:inherit;
}

.professor .media-body span {
	font-size:10px;
	text-transform:uppercase;
}

.testimonial-item .professor {
	transform: translateX(70px);
	-webkit-transform: translateX(70px);
	opacity:0;
	transition: all .45s ease-in-out .4s, opacity .5s ease-in-out .45s;
	-webkit-transition: all .45s ease-in-out .4s, opacity .5s ease-in-out .45s;
}

.active .testimonial-item .professor {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	opacity:1;
}

.professor .media-heading {
	margin-top:5px;
	margin-bottom:3px;
}

/*owl carousel*/
.owl-theme .owl-controls .owl-page span {
	width: 8px;
	height: 8px;
	margin: 5px 6px;
	background: #d0d0d0;
	filter: Alpha(Opacity=100);
	opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	background:#46a5e5;
}

/*line under*/
.line-under {
	border-bottom: solid 2px #e25e0c;
	height: 20px;
	margin-bottom: 22px;
	z-index: 0;
}

.un-separator {
	width:100%;
	margin-top:10px;
	margin-bottom:45px;
}

.un-heading.un-separator {
	padding-bottom: 5px;
}

.un-separator .widget-inner {
	position:relative;
	width:100%;
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
}

.un-separator .widget-inner:after {
	content:' ';
	position:absolute;
	top:50%;
	left:0;
	right:0;
	border-bottom: solid 1px rgba(255,255,255,.25);
	z-index:0;
}

.un-separator .widget-inner > * {
	position:relative;
	z-index:1;
}

/*heading seperator*/
.un-heading {
	padding-bottom:20px;
}

.un-heading-wrap {
	display:table;
	width:100%;
}

.un-heading-line {
	height: 2px;
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}

.un-heading-line span {
	height: 0px;
	border-top: 2px solid #e25e0c;
	display: block;
	position: relative;
	top: 0px;
	width: 100%;
}

.un-heading-content {
	display:table-cell;
	vertical-align:middle;
	border-width:1px;
}

.un-heading .btn,
.btn.back-to-top { 
	border-radius: 2px; border:2px solid rgba(52,52,52,0.1);
}

.dark-div .un-heading-line span,
.dark-div .un-heading .btn,
.dark-div .btn.back-to-top {
	border-color: rgba(255,255,255,.15);
}

span.un-heading-content.btn {
	cursor:default;
	pointer-events: none;
}

/*social icon*/
.social-light {
	margin-top:-12px;
}

.social-light li {
	margin-top:12px;
}

.social-icon {
	width:40px;
	height:40px;
	font-size:14px;
	padding:0;
	line-height:36px;
}

.copyright {
	padding-top:5px;
}

.footer-content .social-icon {
	border-color:rgba(255,255,255,.15)
}

/*video banner*/
.un-video-banner.boxed {
	width:400px;
}

.un-video-banner .video-banner-inner {
	background-repeat: no-repeat;
	background-size: cover;
	height:600px;
}

.un-video-banner.boxed .video-banner-inner {
	height:300px;
}

.video-banner-inner {
	position:relative;
}

.video-banner-inner a {
	outline:none;
}

.video-banner-inner .overlay {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	background:rgba(0,0,0,.3);
	display:block;
	transition:all .2s;
}

.video-banner-inner:hover .overlay {
	background:rgba(0,0,0,0);
}

.video-banner-inner .overlay .overlay-inner {
	display:inline-block;
	vertical-align:middle;
}

.video-banner-inner .overlay:before {
	content:'';
	display:inline-block;
	vertical-align:middle;
	margin-right:-4px;
	height:100%;
}

.video-banner-inner .fa {
	color: #FFFFFF;
	font-size: 36px;
	border: solid 3px #fff;
	width:100px;
	height:100px;
	padding-left:8px;
	line-height:94px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: transparent;
	margin-bottom:20px;
}

.video-banner-popup {
	border: solid 10px #fff;
	line-height:1;
}

#cboxPrevious:empty, #cboxNext:empty {
	display:none !important;
}

/*widget*/
.widget-title {
	font-size:14px;
	text-transform:uppercase;
	margin-bottom:16px;
	color:#e25e0c;
}

.widget-border .widget-inner {
	border: solid 1px rgba(255,255,255,.25);
	padding: 25px 30px;
}

.normal-sidebar .widget ul {
	padding-left:0;
}

.normal-sidebar .widget ul li {
	list-style:none;
	line-height:1.8;
}

.dark-div .normal-sidebar .widget ul li:before {
	color:#fff;
}

.normal-sidebar .widget ul li a {
	vertical-align:middle;
}

.normal-sidebar .widget .menu .sub-menu {
	padding-left:15px;
}

.normal-sidebar a {
	transition:all .2s;
	-webkit-transition:all .2s;
}

.widget {
	padding-bottom:30px;
}

/*flickr widget*/
.flickr_badge_image {
	margin: 0 10px 10px 0px;
	width: 72px;
	height: 72px;
	float: left;
	background: none;
	padding: 0;
}

.flickr_badge_image img {
	margin: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

/*page heading*/
.page-heading {
	background:#eaeaea;
	padding-top:33px;
	padding-bottom:23px;
}

.pathway {
	margin-top:6px;
	font-size:10.4px;
	text-transform:uppercase;
}

.pathway a {
	color:inherit;
}

/*dropcap*/
.content-dropcap p:first-child:first-letter, .dropcap {
	font-family: "Minion Pro", Times, serif;
	font-size: 42px;
	text-transform:uppercase;
	background:#eaeaea;
	float: left;
	margin: 5px 20px 10px 0;
	width:60px;
	text-align:center;
	line-height: 58px;
	padding: 2px 17px 0;
}

body.mac .content-dropcap p:first-child:first-letter,
body.mac .dropcap {
	line-height: 58px;
	padding-top: 2px;
}

/*404*/
.banner-404 {
	border-style:solid;
	border-width:10px;
	width:263px;
	height:263px;
	line-height:243px;
	text-align:center;
	font-size:120px;
	border-radius:50%;
	display:inline-block;
	margin:10px 0 30px;
}

/* owlCarousel */ 
.featured-causes .owl-controls {
    margin-top: 10px;
    text-align: center;
}

.featured-causes .owl-controls .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 6px;
    border-radius: 50%;
    background: #d0d0d0;
    opacity: 1;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
}

.featured-causes .owl-controls .owl-dots .owl-dot.active span,
.featured-causes .owl-controls .owl-dots .owl-dot:hover span {
    background: #46a5e5;
}

/* Sidebar
------------------------------------------------------------- */
/* widget */
.widget .recent-posts .text a {
	font-size: 14px;
    margin-top: 0;
    line-height: 1.25;
    font-weight: 400;
}

/* widget-nav-menu */
.sidebar .widget.widget-nav-menu ul li {
    margin-bottom: 0;
}

.sidebar .widget.widget-nav-menu ul li a {
	position: relative;
}

.sidebar .widget.widget-nav-menu ul li a:before {
	position: absolute;
	top: 9px;
	right: 25px;
	font-family: "FontAwesome";
	font-size: 8px;
    content: "\f105";
    color: #666;
}

.widget-nav-menu .widget-inner ul li:hover a:before {
	color: #fff;
}

.sidebar .widget-nav-menu .widget-title {
    padding: 27px 30px;
    margin-bottom: 0;
    border: 1px solid rgba(52,52,52,.1);
    border-bottom: 0;
    font-size: 20px;
}

.widget-nav-menu .widget-inner ul li a {
    border-top: 1px solid rgba(52,52,52,.1);
    padding: 8px 30px;
    padding-bottom: 9px;
    display: block;
    width: 100%;
    border-left: 1px solid rgba(52,52,52,.1);
    border-right: 1px solid rgba(52,52,52,.1);
    cursor: pointer;
}

.widget-nav-menu .widget-inner ul li:last-child a {
    border-bottom: 1px solid rgba(52,52,52,.1);
}

.widget-nav-menu .widget-inner ul li ul {
    opacity: 0;
    height: 0;
    padding-left: 0;
    display: none;
}

.widget-nav-menu .widget-inner ul li ul.sub-menu.show_sub_menu {
    display: block;
    opacity: 1;
    height: auto;
    transition: all ease .2s;
}

.widget-nav-menu .widget-inner ul li ul {
    transition: all .3s;
}

.widget-nav-menu .widget-inner ul li ul li:first-child a {
    border-top: 1px solid rgba(52,52,52,.1);
}

.widget-nav-menu .widget-inner ul li.menu-item-has-children.parent ul li a {
    padding-left: 45px;
}

.widget-nav-menu .widget-inner ul li a:hover {
    background: #46a5e5;
    transition: all .3s;
    color: #fff;
    border-color: #46a5e5;
}

.widget-nav-menu .widget-inner ul li a {
    border-top: 1px solid rgba(52,52,52,.1);
    padding: 8px 30px;
    padding-bottom: 9px;
    display: block;
    width: 100%;
    border-left: 1px solid rgba(52,52,52,.1);
    border-right: 1px solid rgba(52,52,52,.1);
    cursor: pointer;
}

.normal-sidebar .widget .menu .sub-menu {
    padding-left: 15px;
}

.normal-sidebar .widget ul li {
    list-style: none;
    line-height: 1.8;
}

.normal-sidebar .widget ul li a {
    vertical-align: middle;
}

/* widget-search */
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.sidebar .widget-title {
    margin-bottom: 27px;
    font-size: 20px;
}

.u-course-search-dropdown-button {
    background: #dedede;
    border-color: #dedede;
    border-radius: 0;
    padding: 7px 12px;
    color: #999;
}

.u-course-search-dropdown-button:hover {
    background: #cecece;
    border-color: #cecece;
    color: #999;
}

.u-course-search-form .input-group input[type="text"] {
    height: 35px;
    background: #eaeaea;
    border-color: #eaeaea;
}

.u-course-search-submit {
    background-color: #eaeaea !important;
    border-color: #eaeaea !important;
    color: #999 !important;
    padding: 7px 10px;
    border-radius: 0;
}

.sidebar .widget-search .input-group .dropdown-menu {
	border-radius: 0;
}

.sidebar .widget ul.dropdown-menu li {
    margin-bottom: 0px;
}

/* widget-post */
.widget.widget-posts .blog-box{
	overflow: hidden;
    border: solid 2px #eaeaea;
    padding: 27px 30px;
    width: 100%;
    border-radius: 2px;
}

.widget .recent-posts li .thumb {
    float: left;
    margin-right: 20px;
}

.sidebar .widget .recent-posts li {
    position: relative;
    float: left;
    width: 100%;
    display: block;
}

.sidebar .widget ul li {
    margin-bottom: 30px;
}

.sidebar .widget ul li:last-child {
    margin-bottom: 0;
}

/* Blog-single 
-------------------------------------------------------------- */
.blog-single .post .entry-box {
	margin-bottom: 20px;
}

.blog-single .post .post-content .title {
	font-size: 24px;
    color: #343434;
    margin-bottom: 10px;
}

.blog-single .post .post-content {
	padding-bottom: 20px;
}

.blog-single .post .post-content p {
	margin-bottom: 10px;
}

.blog-single .post .content-pad .blog-item-meta {
	margin-bottom: 0;
}

.blog-single .post .list-inline {
	overflow: hidden;
}

.blog-single .post .list-inline ul li {
	float: left;
	display: inline-block;
    margin-top: 12px;
    padding: 0 5px;
}

.blog-single .post .list-inline ul li a {
	border: 2px solid #eaeaea;
}

.blog-single .post .list-inline ul li a:hover {
    color: #fff;
    background-color: #666666;
    border-color: #666666;
}

/* author */
.about-author {
    border-top: solid 1px #eaeaea;
    padding-top: 30px;
    margin: 30px 0;
}

.author-avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
}

.entry-wrapper .simple-navigation .simple-navigation-item:first-child {
    border-right: solid 2px #fff;
}

.entry-wrapper .simple-navigation {
    padding: 0 15px;
    margin-bottom: 20px;
    background-color: #f6f6f6;
}

.entry-wrapper .simple-navigation .simple-navigation-item:hover {
	background-color: #179bd7;
}

.entry-wrapper .simple-navigation .simple-navigation-item span,
.entry-wrapper .simple-navigation .simple-navigation-item h4,
.entry-wrapper .simple-navigation .simple-navigation-item i {
	color: #343434;
}

.entry-wrapper .simple-navigation .simple-navigation-item:hover span,
.entry-wrapper .simple-navigation .simple-navigation-item:hover h4,
.entry-wrapper .simple-navigation .simple-navigation-item:hover i {
	color: #fff;
}

.entry-wrapper .simple-navigation .simple-navigation-item {
	overflow: hidden;
    padding-top: 25px;
    padding-bottom: 20px;
    transition: all .2s;
}

.entry-wrapper .simple-navigation .simple-navigation-item i {
    font-size: 28px;
    margin-top: 8px;
}

.simple-navigation-item .simple-navigation-item-content {
    float: none;
    margin: 0 30px;
}	

.entry-wrapper .simple-navigation .simple-navigation-item h4 {
    font-size: 15px;
    margin: auto 0;
    margin-bottom: 8px;
    margin-top: 6px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .2s;
}

.simple-navigation-item a.pull-right {
    text-align: right;
}

/* form */
.comments-area {
    margin: 30px 0 40px;
    padding-top: 15px;
    border-top: 3px solid #eaeaea;
}

.comments-area .comment-form-tm {
	margin-top: 15px;
}

.author-current {
    float: left;
    display: table-cell;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 0px 20px 0 0;
}

.comment-respond .comment-form {
	overflow: hidden;
	display: block;
}

.comment-respond .comment-form textarea {
	height: 50px;
}

.comment-form input {
    padding: 6px 10px;
    width: 100%;
}

.comment-respond .comment-form .submit-wrap {
    float: right;
}

.comment-respond .comment-form button.flat-button {
	background-color: #179bd7; 
    color: #fff;
    line-height: 0;
    height: 42px;
    border: 0px;
    text-transform: none;
    padding: 12px 20px;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.25);
}

.comment-respond .comment-form button.flat-button:hover {
	color: #fff;
    background-color: #666666;
    border-color: #666666;
}

/* Footer
-------------------------------------------------------------- */
.footer.full-color {
    background-color: #133054;
}

.footer .section-inner {
    padding: 40px 0;
}

.footer h2,
.footer h4 {
	color: #fff;
}

.footer,
.footer a {
	color: rgba(255,255,255,.75);
}

.footer a:hover {
	color: #fff;
}

.border.widget .widget-inner {
    border: solid 2px rgba(255,255,255,.15);
    padding: 27px 30px;
    width: 100%;
    border-radius: 2px;
}

.dark-div .border.widget .widget-inner {
    border: solid 2px rgba(255,255,255,.15);
}

.footer .widget .widget-title {
    padding: 0;
    margin-bottom: 27px;
    border: none;
    font-size: 20px;
}

.footer .widget-nav-menu .widget-inner ul li a {
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 0;
}

.footer .widget-nav-menu .widget-inner ul li:last-child a {
	border-bottom: none;
}

.footer .widget-nav-menu .widget-inner ul li a:hover {
	background: transparent;
    border-color: transparent;
}

.normal-sidebar .widget ul li a:before {
	content: "\f105";
	display: inline-block;
	font-family: FontAwesome;
	font-weight: 700;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:8px;
	margin-right:5px;
	padding-bottom: 2px;
	vertical-align:middle;
}

.media > .pull-left {
    margin-right: 5px;
}	

/* widget-text */
.widget-text h4 {
	font-size: 18px;
}

.un-icon,
.light .un-icon,
.dark-div .light .un-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #343434;
    color: #fff;
    font-size: 28px;
    display: inline-block;
    transition: all .2s;
}

.widget-text .un-icon {
    background-color: #fff;
    color: #343434;
}

.widget-text .un-icon:hover {
	background-color: #179bd7;
}

/* widget-divider */
#bottom .widget.divider-widget {
    width: 100%;
    padding-bottom: 0;
}

#bottom .divider-widget .un-heading-wrap .flat-button.style1,
#bottom-nav .link-center .flat-button.style1 {
    border-radius: 2px;
    border: 2px solid #e25e0c;	
    padding: 0 40px;
    height: 60px;
    font-size: 17px;
    color: #fff;
    background-color: #212327;
}

#bottom-nav .link-center {
	position: relative;
	text-align: center;
}

#bottom-nav .link-center .flat-button.style1 {
	position: absolute;
	top: 0;
	left: auto;
	margin-left: -40px;
    height: 40px;
    padding: 0 20px;
    line-height: 35px;
    font-size: 13px;
}

#bottom .divider-widget .un-heading-wrap .flat-button.style1:hover,
#bottom-nav .link-center .flat-button.style1:hover {
	background-color: #fff;
	color: #343434;
}

#bottom .divider-widget .un-heading-wrap .flat-button.style1 i{
	margin-left: 6px;
}

#bottom .widget.divider_widget {
    width: 100%;
    padding-bottom: 0;
}

/* widget-flickr */
.widget-flickr .widget-inner ul li a:before {
	content: none;
}

#bottom .widget-flickr ul {
	margin: 0 -5px;
}

#bottom .widget-flickr ul li {
	width: 33.33%;
    float: left;
    padding: 0 5px;
    margin-bottom: 10px;
}

.images-hover:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.images-hover {
    position: relative;
}

.images-hover:hover {
    cursor: pointer;
}

.images-hover:before,
.images-hover:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    z-index: 30;
    margin-top: -8px;
    margin-left: -1px;
    visibility: hidden;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0); 
     -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;   
}

.images-hover:after {
    height: 1px;
    width: 16px;
    margin-top: -1px;
    margin-left: -8px;
}

.images-hover:hover:after,
.images-hover:hover:before {
    z-index: 30px;
    visibility: visible;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
}

.images-hover .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    height: 100%;
    content: "";
    z-index: 10;
    background-color: rgba(0, 0, 0, .4);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

/* Bottom
-------------------------------------------------------------- */
#bottom-nav .footer-content {
    padding-top: 15px;
    padding-bottom: 25px;
    min-height: 80px;
}

#bottom-nav .footer-social .social-list {
	float: right;
}

#bottom-nav .footer-social .social-list > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

#bottom-nav .footer-social .social-list > li > a {
	color: #fff;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,.15);
}

#bottom-nav .footer-social .social-list > li > a:hover {
    color: #343434;
    background-color: #fff;
    border-color: #fff;
}

/* Boxed
-------------------------------------------------------------- */
.home-boxed .boxed {
	padding: 2.083% 0;
	width: 95.834%;
	margin: 0 auto;
	position: relative;	
	height: 100%;
	overflow: hidden;
	background-color: #fff;
}

.boxed {
	overflow: hidden;
}

/* site-off-canvas
-------------------------------------------------------------- */
#site-off-canvas .close {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	-webkit-opacity: 0;
	 -khtml-opacity: 0;
	   -moz-opacity: 0;
	   opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	    filter: alpha(opacity=0);
	display: none\9;
	visibility: hidden;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

.off-canvas-active #site-off-canvas .close {
	-webkit-opacity: 1;
	 -khtml-opacity: 1;
	   -moz-opacity: 1;
	        opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter: alpha(opacity=100);
	display: block\9;
	visibility: visible;
	-webkit-transform: translateX(-270px);
	    -ms-transform: translateX(-270px);
	        transform: translateX(-250px);
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.off-canvas-active #site-off-canvas .wrapper {
	background-color: #f5f5f5;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

#site-off-canvas .wrapper {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	width: 270px;
	background: #ffffff;
	z-index: 999999;
	overflow: auto;
	padding: 30px;
	-webkit-transform: translateX(270px);
	-ms-transform: translateX(270px);
	transform: translateX(270px);
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

/* Switcher
-------------------------------------------------------------- */
.switcher-container {
   position: fixed;
   right: -250px;
   top: 120px;
   width: 250px;
   background-color: #000000;
   z-index: 99999999;
}

.switcher-container h2 {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1.5px;
    text-transform: uppercase;
	height: 50px;
	line-height: 50px;
	padding-left: 50px;
	padding-right: 50px;
	margin: 0;
	font-weight: 400;
}

.switcher-container h2 a {
   background-color: #179bd7;
   display: block;
   position: absolute;
   left: -50px;
   top: 0;
   width: 50px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   outline: 0;
   color: #fff;
}

.switcher-container h2 a:hover,
.switcher-container h2 a:focus {
   text-decoration: none;
}

.switcher-container h2 i {
   margin-top: 12px;
   font-size: 25px;
   -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear; 
}

.switcher-container h3 {
   font-size: 14px;
   font-weight: 700;
   color: #fff;
   margin: 0;
   line-height: 22px;
   margin-bottom: 10px;
   font-size: 16px;
   line-height: 30px;   
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
}

.switcher-container .selector-box {   
   color: #fff;
   overflow: hidden;
}

.switcher-container .layout-switcher {
   margin: 0 0 10px 0;
   overflow: hidden;
}

.switcher-container .layout-switcher a.layout {
   float: left;
   display: block;
   cursor: pointer;
   text-align: center;
   font-weight: 700;
   padding: 10px 20px;
   margin-left: 10px;
}

.switcher-container .layout-switcher a.layout:first-child {
   margin-left: 0;
}

.switcher-container .layout-switcher a.layout:hover {
   color: #fff;
   cursor: pointer;
}

.switcher-container .color-box {
   height: auto;
   overflow: hidden;
   margin-bottom: 6px;
}

.switcher-container .styleswitch {
    margin-bottom: 10px;
}

.sw-odd {
	background-color: #323232;
	padding: 21px 0 30px 35px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.sw-even {
	background-color: #202020;
	padding: 21px 0 25px 35px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.sw-even a {	
	font-family: "Lato", sans-serif;
    text-transform: uppercase;
	font-size: 12px;
	line-height: 40px;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 26px 10px 27px;
	margin-right: 10px;
	letter-spacing: 1.8px;
}

.sw-even a:hover {
	background-color: #253b80;
	border: 1px solid #253b80;
	color: #fff !important;
}

.sw-light {
	background-color: #fff;
	color: #000 !important;
}

.sw-odd a {	
	font-size: 16px;
	color: #fff;
	width: 100%;
	display: inline-block;
	line-height: 30px;
	width: 100%;
	position: relative;
	padding-left: 47px;
}

.sw-odd .ws-colors a:before {
	background: none;
}

.sw-odd .ws-colors a {
	position: relative;
	width: auto;
	padding: 0;	
	width: 30px;
	height: 30px;
	background-color: #179bd7;	
	display: inline-block;
	margin-right: 10px;	
}

.sw-odd .ws-colors a.current:before {
	position: absolute;
    left: 7px;
    top: 0;
	font-family: FontAwesome;
	content: "\f00c";
	color: #fff;
	text-shadow: 0 0 2px rgba( 0, 0, 0, 1 );
}

.sw-odd #color2 {
	background-color: #d22222;
}

.sw-odd #color3 {
	background-color: #74b3b2;
}

.sw-odd #color4 {
	background-color: #5bac72;
}

.sw-odd #color5 {
	background-color: #f9bf3b;
}

.sw-odd #color6 {
	background-color: #ff8400;
}

.sw-even h3 {
	margin-bottom: 6px;
}

/* Pattern */
.sw-pattern.pattern {	
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	position: absolute;
	left: 0;
	top: 98%;
	background-color: #000000;
	width: 100%;
	z-index: -1;
	padding: 21px 0 30px 35px;
	opacity: 0;
}

.sw-pattern.pattern a {	
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

.sw-pattern.pattern a.current:before {
	position: absolute;
    left: 12px;
    top: 6px;
	font-family: FontAwesome;
	content: "\f00c";
	color: #fff;
	text-shadow: 0 0 2px rgba( 0, 0, 0, 1 );
}


/* Revolution Slider
-------------------------------------------------------------- */
.tp-banner-container {
	max-height: 1000px !important;
	width: 100% !important;
	position: relative;
	overflow: hidden !important;
	padding: 0;
	background-color: #fff;
}

.tp-banner-container {
	position: relative;
}


/* Parallax
-------------------------------------------------------------- */
.parallax {
	width: 100%;
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: cover;
}

.parallax1 { background-image: url(../images/parallax/bg-parallax1.jpg); }
.parallax2 { background-image: url(../images/parallax/bg-parallax2.jpg); }
.parallax3 { background-color: #133054; }
.parallax4 { background-image: url(../images/parallax/bg-parallax4.jpg); }
.parallax5 { background-image: url(../images/parallax/bg-parallax5.jpg); }
.parallax6 { background-image: url(../images/parallax/bg-parallax6.jpg); }
.parallax7 { background-image: url(../images/parallax/bg-parallax7.jpg); }

.flat-row .bg-overlay {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #f9bf3b;
	width: 100%;
	height: 100%;	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
       opacity: 0.9;
        filter: alpha(opacity=90); 
}

/* .page-title .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: 0.7;
    filter: alpha(opacity=70);
} */

.clickable{
    cursor: pointer;   
}

.carousel-middle{
	align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}